.cocktail {
  background: #F752E0;
  background: linear-gradient(to right, #F752E0 8%, #FFE631 31%, #FFBDF3 65%, #3DD8FC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
